:root{--padding-horizontal:4.7vw;--padding-top:3rem;--accent:var(--color-brand)}
body{color:#f1f1f1}
.header.header--compact{box-shadow:none}
.blue-bkg{background:rgba(34,50,66,.5)}
.main{position:relative;width:100%;overflow:hidden}
.main::after{content:"";position:fixed;inset:0;width:100%;height:100vh;background-image:url("../img/bg/art-line.svg");background-repeat:no-repeat;background-position:right 0;background-size:70vh;opacity:.2;pointer-events:none;z-index:0}
.intro,.body{position:relative;z-index:1}
.intro__inner{max-width:100%;margin:0 auto 0 0}
.intro__title{font-size:clamp(34px,3.73vw,56px);color:var(--color-brand);font-weight:700;text-shadow:rgb(51,51,51) 0px 0px 5px}
.intro__subtitle{margin:1.6rem auto 0;font-size:clamp(22px,3vw,32px);font-weight:500;color:#fff}
.intro__lead{max-width:72rem;margin:2.4rem auto 0;font-size:clamp(16px,1.74vw,20px);line-height:1.7;letter-spacing:1.1px;color:#fff;max-width:65ch}
.body__row{padding:var(--padding-top) var(--padding-horizontal);display:flex;gap:2rem;align-items:center;;width:100%;position:relative;flex-direction:column}
.intro.body__row{padding-top:7rem}
.body__media{display:flex;align-items:stretch;justify-self:start;height:100%;max-width:100%;position:relative;border-radius:.25rem;}
.body__media::after{content:"";position:absolute;inset:0;border-radius:.25rem;background:rgba(34,50,66,.22);pointer-events:none}
.body__picture{display:block;height:100%;overflow:hidden;width:max-content;border-radius:.25rem}
.body__img{display:block;width:auto;height:100%;max-height:28rem}
.body__content{display:flex;flex-direction:column;justify-content:center;min-width:0;max-width:100%;padding:2rem 0}
.body__eyebrow{margin:0 0 1.1rem;font-size:1.1rem;letter-spacing:.18rem;text-transform:uppercase}
.body__title{font-size:2rem;font-weight:700;position:relative;width:max-content;max-width:100%}
.body__title::before{content:'';position:absolute;left:0;bottom:0;width:50%;height:.125rem;background-color:var(--accent)}
.body__text{margin-top:1.7rem}
.body__text p{font-size:.875rem}
.body__text p+p{margin-top:1.1rem}
.body__closing{width:100%;padding:6vw 9vw;background:var(--color7);position:relative}
.body__closing::before{content:"";position:absolute;inset:0;width:100%;height:100%;background:url("../img/bg/art-line-lilac.svg") no-repeat right 0;background-size:20rem;opacity:.6;pointer-events:none;z-index:1;transform:scaleX(-1)}
.body__closing::after{content:"";position:absolute;inset:0;width:100%;height:100%;background:url("../img/bg/art-line-lilac.svg") no-repeat right 0;background-size:20rem;opacity:.6;pointer-events:none;z-index:1}
.body__closing-inner{max-width:82rem;margin:0 auto;padding:4rem 0;text-align:center}
.body__closing-text{font-size:clamp(20px,2.35vw,35px);line-height:1.65;color:var(--color12)}
.body__closing-signoff{margin:2rem auto 0 auto;font-size:clamp(20px,2.35vw,35px);line-height:1.7;color:var(--color15);letter-spacing:.01em;width:max-content;max-width:100%;position:relative}
.body__closing-signoff::after{content:"";position:absolute;right:0;bottom:-100%;width:50%;height:100%;background:url("../img/bg/pincelada-rosa-500x200.webp") no-repeat right 0;background-size:contain;opacity:.6;pointer-events:none;z-index:1}
.body__closing-cta{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;margin-bottom:1rem}
.btn--primary:hover,.btn--primary:active{background:transparent}
.footer{position:relative;z-index:3}
@media (min-width:450px){.body__closing-cta{gap:.375rem;margin-top:3.2rem}}
@media (min-width:750px){
.main::after{ opacity:.8}
.body__row{flex-direction:row}
.body__row--reverse .body__media{order:1}
.body__row--reverse .body__content{order:2}
.body__closing::before,.body__closing::after{opacity:.8}
.body__closing-cta{gap:1.6rem}
}
@media (min-width:992px){
.body__title{font-size:2.25rem}
.body__text p{font-size:1.05rem}
.body__eyebrow{margin:0 0 1.4rem;font-size:1.3rem}
.body__text{margin-top:2.4rem}
.body__text p+p{margin-top:1.6rem}
}
@media (min-width:1100px){
.body__row{gap:6vw}
.body__content{padding:5.2rem 5.6vw}
}
@media (min-width:1600px){
.body__row{width: 80%;}
.intro.body__row{padding-top:8rem}
.intro__title{font-size:3rem}
.intro__subtitle{font-size:2rem}
.intro__lead{font-size:1.3rem}
.body__text p{font-size:1.2rem}
.body__closing-text{font-size:2.2rem}
.body__closing-signoff{font-size:1.5rem}
}  