:root{
    --font-primary: 'Montserrat', sans-serif;
    --max-width: 1200px;
    --color-white: #fff;
    --color-brand: #ebf094;
    --color-dark: #223342;
    --color-light: #e8e2d6;
    --color-accent: #e34d4e; /*contraste aceptado DF2F2F*/
  --color-bg-menu: rgba(34,51,66,.5);
  --color-font-menu: #fafafa;
  --color-pink: #F4C6B8;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html{scroll-behavior: smooth;overflow-y: scroll;}
html, body {
    margin: 0;padding: 0!important;width: 100vw;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    font-family: var(--font-primary);
    line-height: 1.6;
    /* background-color: #e7e1d6; */
    font-size: 16px;
}
.d_flex{display: flex;}.j_between{justify-content: space-between;}.f_column{flex-direction: column;} .align_center{align-items: center;}.j_center{justify-content: center;}.align_start{align-items: flex-start;}
.w_100{width: 100%;}.text-center{text-align: center;}.margin-auto{margin: auto;}.p_relative{position: relative;}

.section{   padding-top: 138px;width: 100%;min-height: 100vh;position: relative;padding-bottom: 100px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
}
.header__main{  width: 100%;
  /* background: var(--color-accent); */
  background: linear-gradient(180deg, #243B55, #223342); /* Degradado gris oscuro cálido */

  /* padding: 0.5rem 1rem; */
}
.header__logo{font-family: var(--font-primary);}
.header__logo{margin: 1rem auto;}
.header__nav{
  /* padding: 0.5rem; */
  margin: auto;width: max-content;
}
a.header__nav-link, a.mobile-panel__link{
    font-size: .8rem;
    transition: color 0.3s;
    color: var(--color-dark);
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    border-radius: 3px;
    white-space: nowrap;
    border: 1px solid transparent;
}
a.header__nav-link:hover,a.mobile-panel__link:hover{
    /* background-color: rgba(0, 0, 0, 0.08) ; */
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}
a.header__nav-link.active{
    color: var(--color-accent);
    font-weight: 600;
}
/* Mobile menu */
.header__ico-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .header__ico-menu-bar {
    width: 25px;
    height: 3px;
    background: var(--color-font-menu);
    transition: transform 0.3s, opacity 0.3s;
  }
  
   
  
  .header__ico-menu.active .header__ico-menu-bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  
  .header__ico-menu.active .header__ico-menu-bar:nth-child(2) {
    opacity: 0;
  }
  
  .header__ico-menu.active .header__ico-menu-bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
  }

.mobile-panel{display: none;}

.h1{font-size: 2rem;font-weight: 400;margin-bottom: 2rem;text-shadow: 0 0 5px #666;}
.h1 strong{font-size: 2.375rem;text-shadow: 0 0 5px #333;}
.h2{font-size: 1.5rem;margin-bottom: 4rem;font-weight: 600;}
.h1--white{color: var(--color-white);display: block;}
.h1--primary{color: var(--color-white);display: block;}
.h1--secondary{color: var(--color-light);display: block;}
.h2--hero{color: var(--color-font-menu);font-size: 1.5rem;margin-bottom: 4rem;font-weight: 600;text-shadow: 0 0 5px #666;}
.btn{font-size: 1.25rem;font-weight: 600;padding: 0.5rem 1.25rem;border-radius: 3px;}
.btn--cta{background-color: var(--color-accent);color: #fff;border: 2px solid var(--color-accent)}
.btn--cta:hover{background-color: transparent;color: var(--color-accent);}

.section--workshop{color: var(--color-font-menu);font-weight: 600;height: calc(100vh + 150px);}
.workshop__title{font-size: 2.375rem;font-weight: 600;margin-bottom: 6rem;text-shadow: 0 0 5px #666;color: var(--color-font-menu);}
.workshop__subtitle{font-size: 1.7rem;margin-bottom: 2rem;}
.workshop__p{margin-bottom: 6rem;font-size: 1.2rem;}
.workshop__content {top: 100%;position: absolute;       will-change: transform; 
        /* transition: transform 0.1s linear; */
}
.workshop__text{width: 50%;}

.section--hero{ position: relative;width: 100%; min-height:calc(100vh + 100px) ;}
.hero__column{height: 100%;padding: 4rem;}
.hero__text{width: 50%;}

.hero-slide{width: 100%;height: 100%; 
  overflow: hidden;
  padding-top: 140px;
  padding-bottom: 0;
  position: absolute;top: 0;left: 0;
}

/* .parallax {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.parallax {
  min-height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: background-position;
}

.parallax-hero1{background-image: url(../img/hero1.png);z-index: 2;opacity: 1;  animation: slide-parallax-opacity 10s linear infinite;  
}
.parallax-hero2{background-image: url(../img/hero2.png);z-index: 1;opacity: 1;}

@keyframes slide-parallax-opacity {
  0%,40% {
      opacity:1;
  }
  50%, 90%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.section--about{gap: 20px;background-color: #F5F3EF;}
.about__column {
  flex: 1 30%;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 8s ease, transform 4s ease;
}
.about__column--left {
  /* gap: 15px; */
  transform: translateX(-30%); /* Se mueve desde la izquierda */
}
.image--clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  transition: clip-path 0.3s ease;
}
/* Segunda imagen: Triángulo invertido en la parte superior */
.image--clip-second {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  transition: clip-path 0.3s ease;
}
.about__column--center {
  transform: translateY(90%); /* Se mueve desde abajo */
}
.about__column--right {
  transform: translateX(30%); /* Se mueve desde la derecha */
}

.section--about.visible .about__column {
  opacity: 1;
  transform: translateX(0) translateY(0); /* Regresa a su posición original */
}

/* .about__content{width: 90%;max-width: 850px;margin: auto;}
.about__content2{ margin-right: 5%;margin-left: 38%;  } */
.btn--cta-about{margin: 2rem auto;}
/* .section--about3{padding-left: 5%;padding-right: 5%;gap: 5%;background-color: #F5F3EF;} */
 
/* .about__foto-container{width: 60%;
   
} */
.about__foto{
  width: 100%; /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);  OK*/
 /* borde degradado */
border: 4px solid transparent;
border-radius: 3px;
background: linear-gradient(to right, #f4c6b8, #faebd7);
-webkit-background-clip: border-box;
background-clip: border-box;
}

.parallax-about{background-image: url(../img/tortas/torta-sin-decorar.jpg);opacity: 0.5;}


.section--cakes{background-color: #F0ECE9;}
.section--designs{background-color: #E8E4DF;}


.section__title{font-size: 1.75rem;margin-bottom: 2rem;text-transform: uppercase;}
.section__subtitle{font-size: 1.5rem;margin-bottom: 2rem;color: var(--color-accent)}
.section__text{font-weight: 500;font-size: 1rem;margin-bottom: 1rem;}

.parallax1{background-image: url(../img/paleta-celeste.png);}
.parallax10{background-image: url(../img/portada-con-sombra.png);}
.parallax11{background-image: url(../img/about15.png);}
.parallax12{background-image: url(../img/workshop-gris.png);}
.parallax13{background-image: url(../img/about-orne2.png);background-size: auto 100%;background-position: left bottom;}
.parallax2{background-image: url(../img/pastry-2735349_1280.jpg);}
.parallax3{background-image: url(../img/cake-3744058_1280.jpg);}
.parallax4{background-image: url(../img/tortas/torta5.jpeg);background-size: contain;background-position: center right;}
.parallax5{background-image: url(../img/tortas/torta--entera.jpg);background-size: contain;background-position: center right;}
.parallax6{background-image: url(../img/tortas/torta-entera2.jpg);background-size: contain;background-position: center right;}
.parallax7{background-image: url(../img/tortas/torta-de-paleta.jpg);background-size: contain;background-position: center right;}

/* efecto aparecer y subir */
.aplicar-efecto1:not(.visible){opacity: 0;  transition: opacity 8s ease, transform 6s ease;}
.subir {transform: translateY(50%); /* Se mueve desde abajo */}
.subir2 {transform: translateY(800%); /* Para elementos pequeños ej btn */}
.visible .subir,.visible .subir2{opacity: 1;transform: translateY(0); /* Regresa a su posición original */}
/* fin efecto */


/* seccion cakes types */
.cakes__types{display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 2.5vw;  
  width: 100%;
  max-width: 1100px;
  padding: 2.5vw;  
  margin: 0 auto;
}
.cakes__h2{margin-bottom: 0; font-weight: 600;font-size: 1.75rem;}.cakes__h2-span{color: var(--color-accent);font-weight: 700;font-size: 1.85rem;}
.cakes__item{position: relative;overflow: hidden;}
.cakes__container{width: 100%;position: relative;}
.cakes__container::before {
  content: '';
  display: block;
  padding-top: 100%; /* Mantiene la relación 1:1*/ 
}
.cakes__img-container{position: absolute;top: 0;left: 0;right: 0;  bottom: 0;cursor: pointer;}
.cakes__item:hover{box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.1);}
.cakes__item:hover .cakes__img-hover{opacity: 1;}
.cakes__item:hover .cakes__h3{color: var(--color-accent);}
.cakes__img{object-fit: cover;object-position: center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;transition: opacity 0.5s linear;}
.cakes__img-primary{z-index: 2;}
.cakes__img-hover{z-index: 1;opacity: 0;}
.cakes__img-primary:hover{opacity: 0;}
/* .cakes__img-primary:hover ~ .cakes__img-hover{opacity: 1;} */
.cakes__h3{margin: 7px 5px 4px 5px;  font-size: 1.25rem;line-height: 1; font-weight: 700;}
.cakes__desc{position: absolute;width: 100%;top: 100%;height: 100%;background-color: #b4b1ac;padding: 1vw;color: #fff; font-weight: 600;
  /* animation: move-up 2s linear; */
  transform: top 3s easy;
}
.cakes__subtit{font-weight: 500;margin: 3px;}


/* seccion howToOrder */
.section--how{background-color: #223342;color: #fff;;}
.how__subtitle{margin-bottom: 2rem;font-weight: 500;font-size: 1.25rem;}
.how__line{border: 2px solid var(--color-pink);max-width: 1100px;margin:4rem auto 0 auto;}
.how__number{background-color: var(--color-pink);color: #223342;font-weight: 700;font-size: 22px; width: 50px;height: 50px;border-radius: 50%;}
.how__steps{gap: 20px;max-width: 1200px;margin: -25px auto 6rem auto;}
.how__step{flex: 1 20%;max-width: 157px;gap: 10px;}
.how__text{display: block;height: 52px;}

/* iconos provisorios desp borrar */

.icon {
  width: 50px; /* Ancho del icono */
  height: 50px; /* Alto del icono */
  background-color: #fafafa; /* Color del icono */
  -webkit-mask-size: contain;
  mask-size: contain;
}
.icon1 {
  -webkit-mask: url('../img/iconos/chart-pie-solid.svg') no-repeat center;
  mask: url('../img/iconos/chart-pie-solid.svg') no-repeat center;
}
.icon2 {
  -webkit-mask: url('../img/iconos/cake-candles-solid.svg') no-repeat center;
  mask: url('../img/iconos/cake-candles-solid.svg') no-repeat center;
}
.icon3 {
  -webkit-mask: url('../img/iconos/palette-solid.svg') no-repeat center;
  mask: url('../img/iconos/palette-solid.svg') no-repeat center;
}
.icon4 {
  -webkit-mask: url('../img/iconos/calendar-days-regular.svg') no-repeat center;
  mask: url('../img/iconos/calendar-days-regular.svg') no-repeat center;
}
.icon5 {
  -webkit-mask: url('../img/iconos/file-invoice-dollar-solid.svg') no-repeat center;
  mask: url('../img/iconos/file-invoice-dollar-solid.svg') no-repeat center;
}
/*  */
a[href^="tel:"]{width:-webkit-max-content;width:-moz-max-content;width:max-content;height:-webkit-max-content;height:-moz-max-content;height:max-content;}

.section.footer {   background: linear-gradient(180deg, #223342, #000); /* Degradado gris oscuro cálido */
  color: #FFFFFF;  font-size: .875rem;
  padding:0 0 0 0;margin: 0;
  text-align: center;
  position: relative;z-index: 1; will-change: transform; 
}
a.footer__link:hover{opacity: 0.7;}
.footer__columns{padding:4rem 10vw 1rem 10vw; /*border-bottom: 1px solid rgb(240, 240, 240)*/}
.footer__column{text-align: left;}
.footer__hr{border-color: rgba(240, 240, 240, 0.8);margin-bottom: 1rem;}
.footer__h2{font-size: 1.5rem;  /*margin-bottom: 1rem;  color: #fafafa;  width: 100%;*/ 
   
  /* border-bottom: 1px solid rgba(240, 240, 240, 0.5);  */
  
  /*transition: none;backface-visibility: hidden; /* Mejora la estabilidad visual */
  /*transform: translateZ(0); /* Usa la GPU para suavizar */
}
.footer__contact-li{padding: 8px 0;}
a.footer__contact-link{color: #fff;gap: 8px;font-size: .875rem;}
.footer__contact-icon{width: 16px;   height: 16px;  background-color: #e6e3e3;   -webkit-mask-size: contain;  mask-size: contain;}
.footer__icon-phone {
  -webkit-mask: url('../img/iconos/phone-solid.svg') no-repeat center;
  mask: url('../img/iconos/phone-solid.svg') no-repeat center;
}
.footer__icon-wapp {
  -webkit-mask: url('../img/iconos/whatsapp_icon_solid_green.svg') no-repeat center;
  mask: url('../img/iconos/whatsapp_icon_solid_green.svg') no-repeat center;
}
.footer__icon-email {
  -webkit-mask: url('../img/iconos/envelope-solid.svg') no-repeat center;
  mask: url('../img/iconos/envelope-solid.svg') no-repeat center;
}
.footer__icon-loc {
  margin-top: 5px;
  -webkit-mask: url('../img/iconos/location-dot-solid.svg') no-repeat center;
  mask: url('../img/iconos/location-dot-solid.svg') no-repeat center;
}
.footer__location{gap: 8px;}
.footer__location-span{display: block;}

.footer__social{margin-bottom: 3rem;}
.footer__social-ul{gap: 15px;}
.footer__social-li{display: inline-flex; }
.footer__social-link{display: inline-block;width: 100%;height: 100%;}
.footer__social-icon{  background-color: #e6e3e3;   -webkit-mask-size: contain;  mask-size: contain;}
.footer__icon-ig {width: 26px;   height: 26px;
  -webkit-mask: url('../img/iconos/instagram-brands-solid2.svg') no-repeat center;
  mask: url('../img/iconos/instagram-brands-solid2.svg') no-repeat center;
}
.footer__icon-fb {width: 26px;   height: 22px;margin-top: 3px;
  -webkit-mask: url('../img/iconos/facebook-f-brands-solid.svg') no-repeat center;
  mask: url('../img/iconos/facebook-f-brands-solid.svg') no-repeat center;
}
.footer__policies-ul{gap: 10px;}
.footer__policies-li{display: block; padding: 8px 0;}
a.footer__policies-link{color: #fff; font-size: .875rem; display: inline-block;width: 100%;height: 100%;}
.footer__footer{margin: 1rem;}

.footer__form{width: 100%;gap: 10px;display: grid;}
.footer__label{display: block;}
.footer__input, .footer__textarea{display: block;width: 100%;appearance: none;background-color: rgba(255, 255, 255, 0.2);border: none;outline: none;box-shadow: none;margin-top: 5px;color: #fff;line-height: 30px;padding: 0 10px;}
.footer__input:focus, .footer__textarea:focus{outline:1px solid #9d9c9b;border-radius: 3px;}
.footer__input{height: 30px;}
.footer__textarea{line-height: 18px;height: 120px;}
.footer__cta{height: 40px;font-weight: 600;font-size: 1rem;}


/* botones flotantes */
.floating-button{position: fixed;z-index: 10; display: none;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);border-radius: 50%;}
.floating-button--wapp{bottom: 20px;width: 56px;height: 56px;overflow: visible;right: 16px;}
.floating-button--wapp__img{width: 100%;height: 103%;}
.floating-button--up{background-color: var(--color-light);color: #fff;width: 48px;height: 48px;bottom: 85px;right: 20px;
  /* left: calc(50% - 24px); */
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease, transform 0.2s ease;
  animation: float 3s infinite ease-in-out;
}.floating-button--up.button--light{background-color: rgba(232, 228, 223, 0.5)}

.floating-button--up::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%) rotate(45deg);
}
.floating-button--up::after {
  content: '';
  display: block;
  width: 2px;
  height: 20px;
  background-color: #fff;  
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -40%);
}

.floating-button--up:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.floating-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px) scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
/* .floating-button--up:hover{background-color: var(--color-accent);} */
@keyframes float {
  0%, 25%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Movimiento más pronunciado */
  }
  75% {
    transform: translateY(0);
  }
}


@media (max-width: 992px) {
    :root{ --color-bg-menu: rgba(34,51,66,.9);}
    html,body{font-size: 14px;}
    .header__nav {
        display: none;
    }
  
    .header__ico-menu {
        display: flex;
    }
    a.mobile-panel__link{padding: 1rem;}
    .mobile-panel {
        position: fixed;
        top: 114px;
        left: -100%;
        width: 100%;
        max-width: 450px;
        height: 100%;
        background: var(--color-accent);
        color: var(--color-font-menu);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transition: left 0.3s;
        gap: 5px;
      }
      
      .mobile-panel.open {
        left: 0;
      }
    
  }
  